# gradle directories
.gradle/
.gradletasknamecache

#buildDirectories
build/
bin/
out/

# others
.project
.classpath
*.iml

# idea
/.idea/*
!/.idea/codeStyles

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
